.about {
  color: #ce5334;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  /* padding-left: 25px; */
}
.info {
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  flex-direction: column;
  padding-left: 3%;
  padding-top: 5%;
}
.perfil img {
  width: 30%;
  position: absolute;
  top: -10%;
  right: 10%;
}

.about h1 {
  font-size: 40px;
  border-right: 2px solid #ccc;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Trispace", sans-serif;
  /* color: #ccc; */
  color: #ce5334;
  white-space: nowrap;
  overflow: hidden;
  animation: blickCursor 500ms steps(40) infinite normal,
    typing 4s steps(40) 1s normal both;
}
.about h3 {
  font-family: "Quicksand", sans-serif;
  margin-top: 1em;
  font-size: 40px;
  color: #ccc;
}
.btn-main {
  /* font-family: "Quicksand", sans-serif; */
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #bb3f1f;
  cursor: pointer;
  margin: 15px 5px;
  color: #ccc;
  margin-top: 10%;
  box-shadow: 5px 5px 5px #000;

  border: solid 0.5px #ccc;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 14.5em;
  }
}
@keyframes blickCursor {
  from {
    border-right-color: #ccc;
  }
  to {
    border-right-color: transparent;
  }
}

@media screen and (max-width: 1024px) {
  .about h3 {
    font-size: 30px;
  }
  .about h1 {
    font-size: 25px;
  }

  .btn {
    height: 30px;
    font-size: 15px;
  }
  .perfil {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .perfil img {
    width: 30%;
  }
  .about {
    justify-content: space-around;
  }
  .btn-main {
    height: 30px;
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  .about {
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    height: 90vh;
  }
  .perfil img {
    width: 45%;
    top: -8%;
  }
  .about h3 {
    font-size: 23px;
    margin-top: 5px;
  }
  .about h1 {
    font-size: 18px;
  }
}
