.container-sobre {
  width: 100%;
  height: auto;
  margin-top: 20rem;
  background-color: #d1d1d110;
}
.about-info {
  width: 100%;
  height: auto;
  display: flex;
}
.info-img {
  width: 50%;
}
.info-img img {
  width: 25%;
  position: absolute;
  bottom: -90%;
  left: 60%;
  border-radius: 10px;
  box-shadow: 5px 5px 20px;
}
.content_text {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: auto;
  padding: 20px 20px;
}
.content_text h1 {
  margin-top: 20px;
  /* margin-left: 3em; */
  color: #ce5334;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
}
.content_text p {
  margin-top: 10px;
  color: #ccc;
  font-size: 1em;
  /* line-height: 1.6em; */
  word-spacing: -1px;
  width: 80%;
  text-align: justify;
  /* margin-left: 1em; */
}
.btn button {
  margin-top: 2em;
  /* margin-left: 4em; */
  color: #ce5334;
  height: 30px;
  width: 140px;
  background: transparent;
  border: 1px solid #ce5334;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.btn a {
  color: #ce5334;
}
.btn button:hover {
  transform: scale(1.1, 1.1);
}

.skills {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.skills h1 {
  color: #ce5334;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  padding: 10px;
}
.skills-set {
  width: 80%;
  margin-top: 20px;
  height: auto;
  display: flex;

  justify-content: space-around;
}

.box-desc {
  width: 25%;
  height: 250px;
  background-color: #d1d1d110;
  color: #ce5334;
  box-shadow: 1px 1px 20px #000;
  text-align: start;
  padding: 30px 20px;
  border-radius: 10px;
  transition: transform 0.5s ease;
}
.box-desc:hover {
  transform: scale(1.1);
}
.box-desc h3 {
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
}
.box-desc p {
  color: #ccc;

  font-size: 15px;
  font-weight: 600;
}
.stack {
  margin-top: 20px;
  width: 100%;
  color: #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 45px;
}

@media screen and (max-width: 1024px) {
  .container-sobre {
    margin-top: 6em;
  }
  .content_text {
    justify-content: center;
  }
  .info-img img {
    bottom: -65%;
  }
  .info-img img {
    width: 30%;
  }
  .content_info {
    margin-top: 1em;
  }
  .skills-set {
    width: 100%;
    flex-wrap: wrap;
  }
  .box-desc {
    width: 28%;
  }
  .box-desc h3 {
    font-size: 17px;
  }
  .box-desc p {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .container-sobre {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 0;
  }
  .content_text {
    width: 100%;
    text-align: center;
  }
  .content_text h1 {
    font-size: 30px;
    margin: 0px;
  }
  .about-info {
    flex-direction: column-reverse;
  }
  .info-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info-img img {
    bottom: 0;
    margin-top: 20px;
    width: 32%;
    position: static;
  }

  .content_text p {
    margin-top: 10px;
    color: #ccc;
    font-size: 14px;
    line-height: 1.6em;
    width: 100%;
    text-align: justify;

    /* margin-left: 10px; */
  }
  .btn button {
    margin-left: 0em;
  }

  .skills-set {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .box-desc {
    width: 55%;
    height: 220px;
    margin: 15px;
  }
  .box-desc h3 {
    font-size: 16px;
  }
  .box-desc p {
    font-size: 12px;
  }
  .stack {
    font-size: 30px;
  }
}
