.container_contact {
  width: 100%;
  height: auto;
  text-align: center;
}
.container_contact h1 {
  margin-bottom: 40px;
  font-size: 40px;
  color: #ce5334;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Trispace", sans-serif;
  padding-top: 20px;
}
.content_msg {
  /* margin-top: 4.5em; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.content_opt {
  width: 50%;
  height: 500px;
  /* display: flex;
  justify-content: space-around; */
  /* flex-direction: column; */
  /* background-color: red; */
  /* align-items: center; */
}
.boxLink {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  margin-left: 1em;
  /* background-color: red; */
}
.option_msg {
  width: 50%;
  height: 200px;
  border: 1px solid #ce5334;
  margin-bottom: 2em;
  margin-left: 3.5em;
  border-radius: 10%;
  color: #ccc;
  padding-top: 50px;
}
.option_msg h5 {
  margin-bottom: 10px;
}
.option_msg a {
  text-decoration: none;
  color: #ce5334;
}

.option_msg:hover {
  background-color: #ff5d34;
  color: #ccc;
}
.form_contato {
  width: 50%;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.form_contato input,
textarea {
  width: 70%;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid #ce5334;
  resize: none;
  color: #fff;

  /* background-color: transparent; */
  /* border: #ce5334; */
}
.form_contato button {
  margin-top: 10px;
  width: 20%;
  height: 40px;
  background-color: #ce5334;
  border: none;
  color: #ccc;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .content_msg {
    flex-direction: column;
    height: auto;
  }
  .content_opt {
    width: 100%;
    margin-top: 0em;
    flex-direction: row;
    justify-content: center;
  }
  .boxLink {
    margin-left: 0;
  }
  .option_msg {
    width: 30%;
    margin: 1.5em;
  }
  .form_contato {
    width: 100%;
  }
  .form_contato input,
  textarea {
    width: 65%;
  }
  .form_contato button {
    width: 30%;
  }
}
@media screen and (max-width: 600px) {
  .content_msg {
    flex-direction: column;
    height: auto;
  }
  .content_opt {
    width: 100%;
    margin-top: 0em;
    flex-direction: column;
    justify-content: center;
  }
  .option_msg {
    width: 45%;
    margin: 0.5em;
  }
  .option_msg h5 {
    font-size: 11px;
  }
  .option_msg a {
    font-size: 14px;
  }
  .form_contato {
    width: 100%;
  }
  .form_contato input,
  textarea {
    width: 65%;
  }
}
